* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 61px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-right: solid 1px #E2E6E9;
}

.header__logo {
    width: 40px;
    height: 40px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.heder-bottom {}

.heder-bottom__icon {
    text-align: center;
}

.heder-bottom__icon i {
    font-size: 24px;
    color: #acb5bf;
    height: 48px;
}

.heder-bottom__user {
    position: relative;
}

.sub-user {
    display: none;
    position: absolute;
    top: -260px;
    right: -297px;
    width: 304px;
    box-shadow: 0 0 0 1px hsl(0deg 0% 53% / 10%), 0 15px 35px 0 rgb(49 49 49 / 5%), 0 5px 15px 0 rgb(0 0 0 / 8%);
    border-radius: 8px;
    background-color: white;
}

.sub-user::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    bottom: -10px;
    height: 20px;
    width: 20px;
}

.sub-user__title {
    margin: 10px 12px 5px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #1B1C1E;
}

.sub-user__title:first-child {
    text-transform: uppercase;
}

.sub-user__list {
    padding: 12px;
}

.sub-user__tree {
    background-color: #00D775;
    padding: 12px;
    margin: 12px;
    border-radius: 8px;
}

.sub-user__tree-icon {
    line-height: 20px;
    float: right;
    font-size: 6px;
    color: yellow;
}

.heder-bottom__user-image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.heder-bottom__user:hover .sub-user {
    display: block;
}

.app {
    flex: 1;
}

.nav {
    width: 100%;
    height: 61px;
    display: flex;
    border-bottom: solid 1px #D7DCE1;
}

.nav-left {
    padding-left: 24px;
    width: 61%;
    height: 100%;
    border-right: solid 1px #D7DCE1;
}

.list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.list__item {
    margin-right: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1.5px white;
}

.list__item:not(.list__item-active):hover {
    border-bottom: solid 1.5px #D8D8D8;
}

.list__item-active {
    border-bottom: solid 1.5px #263238;
}

.list__item-link {
    color: #0A0B0D;
    text-decoration: none;
}

.nav-right {
    padding: 0 24px;
    height: 100%;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: black;
}

.nav-right__mylink {
    font-weight: bold;
}

.nav-right__mylink-link {
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #4E4F50;
}

.nav-right__share {
    position: relative;
}

.nav-right__share:hover {
    background-color: #F5F6F8;
}

.nav-right__share-btn {
    font-weight: 0;
    padding: 8px 12px;
    border: solid 1px #D7DCE1;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    color: #73787D;
}

.nav-right__share-list {
    display: none;
    top: calc(100% + 6px);
    right: 0;
    position: absolute;
    padding: 8px;
    max-width: 243px;
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
}

.nav__item {
    list-style: none;
    padding: 8px 12px;
    color: #8B8F93;
    border-radius: 3px;
}

.nav__item+.nav__item {
    margin-top: 8px;
}

.nav__item:hover {
    background-color: #EEE8FF;
    color: #7151D7;
    cursor: pointer;
}

.container {
    background-color: #F5F6F8;
    display: flex;
    width: 100%;
    height: calc(100% - 61px);
}

.create-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61%;
    padding: 16px;
    border-right: solid 1px #D7DCE1;
    padding: 48px 32px;
    max-height: calc(100vh - 61px);
    overflow-y: scroll;
}
.create-profile p {
    width: 95%;
    font-weight: bold;
    font-size: 20px;
  
    
}
.profile-list{
    margin: 15px ;
    width: 95%;
    height: 80%;
    border-radius: 5px;
    background-color: white;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 25px 25px;
}
.form-upload {
    display: block;
   margin:-100px 150px;
   padding: 15px;
   width: 30%;
   background-color: #3399ff;
   border-radius: 10px;
   border: none;

}
.form-remove-img {
    margin: 55px 400px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 30%;
}
.profile-title h {
    display: block;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -20px;
    color: rgb(184, 179, 179);
}
.profile-title hr {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 95%;
     margin-top: -10px;
}
.form-profile_title{
    margin: 10px 10px;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    width: 95%;

}
.profile-title spam {
    display: block;
    margin-top: 20px;
    color: rgb(184, 179, 179);
    font-size: 12px;
    margin-left:  20px;
}
.form-textarea {
    padding-top: 5px;
    width: 95%; 
    
    display: block;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;



}













.interface {
    width: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12px;
    max-width: 270px;
    width: 100%;
    max-height: 556px;
    height: 100%;
    border-radius: 45px;
    border: solid 15px black;
    overflow: hidden;
    background-image: linear-gradient(180deg, #3AE09B, #A9F0CB);
}

.phone_image {
    border-radius: 50%;
    height: 74px;
    width: 74px;
    margin: 4px 0 12px 0;
}

.phone__user {
    line-height: 24px;
    font-size: 13px;
    margin-bottom: 32px;
}

.phone__item {
    /* background-color: currentColor; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    height: 48px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 16px;
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
}

.phone__item-icon {
    position: absolute;
    left: 12px;
    font-size: 24px;
}

.sub-user__list-item {
    font-size: 16px;
    color: #0A0B0D;
    padding: 10px 12px;
}